In [1]:
my_dict = {'key1':'value1', 'key2':'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [3]:
 my_dict['key1']

'value1'

In [8]:
prices_lookup = {'apple':2.5, 'orange':3.99, 'mango':2} 
print(prices_lookup)

{'apple': 2.5, 'orange': 3.99, 'mango': 2}

In [7]:
prices_lookup['apple']

2.5

In [9]:
d = {'k1':133, 'k2':[0,1,2], 'k3':{'insidekey':100}}

In [11]:
d['k2']

[0, 1, 2]

In [12]:
d['k3']['insidekey']

100

In the above syntaxes, we are nesting the dictionary "d" with list, number and dictionary within itself. 
In In[11], key 2(k2) is in the form of list. in order to get the number 2 from that we use the following syntax.

In [13]:
d['k2'][2]

2

In the same way, the dictionary with itself can also be accessed using respective keywords like done in " In[12] "

In the following input cells, we create a new dictionary with some keywords and values. Use strings functions to modify it.

In [25]:
dict1 = {'k1':'Zeeshan', 'k2':'Joe', 'k3':'Gino', 'k4': ['ab', 'bc', 'cd', 'de', 'ef']}

In [26]:
dict1

{'k1': 'Zeeshan',
 'k2': 'Joe',
 'k3': 'Gino',
 'k4': ['ab', 'bc', 'cd', 'de', 'ef']}

In [33]:
print(dict1['k4'][2].upper())

#Using string function " upper() ", we changed the name to all caps.

CD

In [34]:
dict1.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [35]:
dict1.values()

dict_values(['Zeeshan', 'Joe', 'Gino', ['ab', 'bc', 'cd', 'de', 'ef']])